<ion-header>
  <ion-navbar>
    <ion-title>Activity</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button (click)="loadWorkoutData()">Load Workouts</button>
  <button ion-button (click)="saveWorkout()">Health</button>
<!--
<ion-item>
    <ion-label stacked>Set Height</ion-label>
    <ion-input type="text" [(ngModel)]="height" placeholder="My height today"></ion-input>
  </ion-item>
-->
<!--
  <ion-item>
    <ion-label stacked>Current Height</ion-label>
    <ion-input type="text" [(ngModel)]="currentHeight" readonly></ion-input>
  </ion-item> -->

  <!-- <ion-item>
    <ion-label stacked>Steps last 24h</ion-label>
    <ion-input type="text" [(ngModel)]="healthData.stepCount" readonly></ion-input>
  </ion-item> -->

  <ion-list>
    <ion-card *ngFor="let workout of workouts">
      <ion-card-header> {{ workout.activityName }}</ion-card-header>
      <ion-card-content>
        <p>Date: {{ workout.startDate | date:'shortDate' }}</p>
        <p>Duration: {{ workout.duration / (60 * 1000) }} Min</p>
        <p *ngIf="workout.calories">
          Calories: {{ workout.calories }} Kcal
        </p>
        <p *ngIf="workout.distance">
          Distance:  {{ workout.distance / 1000 }} Km
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-card>
    <img src="../assets/imgs/run.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Running - 15/02
      </ion-card-title>
      <p>
        12.3 Km <br>
        1h 23 min
      </p>
    </ion-card-content>
  </ion-card>
    <ion-card>
      <img src="../assets/imgs/spinning.jpeg"/>
      <ion-card-content>
        <ion-card-title>
          Spinning - 14/02
        </ion-card-title>
        <p>
          1h session <br>
        </p>
      </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../assets/imgs/fitboxe.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Fit Boxe - 10/02
      </ion-card-title>
      <p>
        1h 30 min session <br>
      </p>
    </ion-card-content>
</ion-card>


  <button ion-button (click)="logout()">Logout</button>
  <!-- <button ion-button (click)="saveHeight()">Height</button> -->
</ion-content>
