<ion-header no-border>
  <ion-navbar color="primary" >
          <ion-title>
        <!--<img width="75" height="30" src="assets/imgs/title.png"  alt="" class=""> -->
      </ion-title>
    
      
    
    <ion-buttons end>
     <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
    </button>
    
    </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content padding>
<ion-fab bottom right>
        <button ion-fab icon-only mini (click)="newActivity()"><ion-icon name="walk"></ion-icon></button>
</ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)" (swipe)="swipe($event)">
    <ion-refresher-content >

    </ion-refresher-content>
  </ion-refresher>
  
  <div class="main-content" (swipe)="swipe($event)">
  
  <ion-list>
    <ion-card *ngFor="let workout of this.firabaseData.workouts | async">
      <ion-card-header> {{ workout.activityName }}</ion-card-header>
      <ion-card-content>
        <p>Date: {{ workout.startDate | date:'shortDate' }}</p>
        <p>Duration: {{ workout.duration / (60 * 1000) }} Min</p>
        <p *ngIf="workout.calories">
          Calories: {{ workout.calories }} Kcal
        </p>
        <p *ngIf="workout.distance">
          Distance:  {{ workout.distance / 1000 }} Km
        </p>
      </ion-card-content>
    </ion-card>
    
  </ion-list>

 </div>
</ion-content>
